body{
	background-color: #97BC62FF;
	color: #2C5F2D;
	font-family: cursive;
	
}
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid;
}
.name {
	font-size: 25px;
	font-weight: bold;
}
img{
	border-radius: 	5px;
	transform: rotate(-10deg);
	width: 300px;
	height: 300px;
}

#imgs{
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}
<<<<<<< HEAD
#cart-product::before {
	content: '';
	border: transparent solid 16px;
	border-bottom: solid #000 16px;
	position: relative;
	top: -2.7rem;
	left: 15.8rem;
	z-index: -1;
}
#cart-products {
	border: 1px solid #000;
	border-radius: 0.5rem;
	background-color: #fff;
	top: 59px;
	right: 0rem;
	left: -16rem;
	position: absolute;
	padding: 10px;
	text-align: left;
}
=======
h2 {
	background-color: #2C5F2D;
	color: lightskyblue;
	padding: 0px 0px;
	float: left;
}

li {
	font-weight: bold;
}
.btn {
    background-color: #FFFFFF;
    border: 3px solid #31AE9D;
    color: #31AE9D;
    font-size: 1.7rem;
    border-radius: 5px;
    width: 50px;
}
>>>>>>> 09bc5a8666089984f25309cc05669f5a49fa1062
