body{
	background-color: #97BC62FF;
	color: #2C5F2D;
	font-family: cursive;
	text-align: center;
}
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid;
}
.name {
	font-size: 25px;
	font-weight: bold;
}
img{
	border-radius: 	5px;
	/*transform: rotate(-10deg);*/
	width: 300px;
	height: 300px;
}
/*img.korzyna {*/
#cart {
	position: fixed;
	right: 10px;
	top: 30px;
}
#cart img {
	width: 100px;
	height: 100px;
}
#imgs{
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}
h2 {
	background-color: #2C5F2D;
	color: lightskyblue;
	padding: 0px 0px;
	float: left;
}

li {
	font-weight: bold;
}
.btn {
    background-color: #FFFFFF;
    border: 3px solid #31AE9D;
    color: #31AE9D;
    ont-size: 1.7rem;
    boder-radius: 5px;
    width: 50px;
}
